/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
The styling for this game application was based 
upon a video guide from the following source:
"https://www.youtube.com/watch?v=ZniVgo8U7ek"
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../img/main/hero-image.gif");
    background-color: #4a4a4a4a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Source Code Pro", monospace;
    overflow: hidden;
}

/* ---------------------------------------------- Start game countdown */

.start-timer h1 {
    display: none;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    margin: auto;
    z-index: 10;
    font-size: 18rem;
    color: white;
    text-shadow: -3px 3px 0 #000,
                    3px 3px 0 #000,
				    3px -3px 0 #000;
}

.start-timer #startGameText {
    display: none;
    font-size: 16rem;
    text-align: center;
    margin: auto;
}

/* ---------------------------------------------- Gameboard */

.game-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

.game-desk {
    background-image: url("../img/memory-game/desk.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 105rem;
    height: 55rem;
    margin: 11vh auto;
}

#deskCoffee {
    position: absolute;
    width: 210px;
    height: 210px;
    top: 40vh;
    bottom: 0;
    left: 255px;
    right: 0;
}

.memory-game-board {
    width: 750px;
    height: 600px;
    margin: 75px 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    padding-bottom: 25vh;
    -webkit-perspective: 1000px;
            perspective: 1000px;    /* Make the cards 3D for the flip animation effect */
}

/* ------------------------- Cards */


.memory-card {
    width: 145px;  
    height: 170px;
    position: relative;
    margin: 5px; 
    /* Initialize 3D effect */
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;     /* stacks the cards on top of eachother */  
    border-radius: 3px;
    border: 2px solid #1a66a5;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.front-face {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.memory-card.flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

/* ------------------------- Start game countdown media queries */

@media (max-width: 521px) {
    .start-timer h1 {
        width: 320px;
        height: 320px;
        top: 25%; left: 0; bottom: 25%; right: 0;
        font-size: 15rem;
    }
    .start-timer #startGameText {
        font-size: 13rem;
    }
}

@media (max-width: 390px) {
    .start-timer h1 {
        font-size: 12rem;
    }
    .start-timer #startGameText {
        font-size: 9.5rem;
        left: 5%; 
    }
}

@media (max-width: 280px) {
    .start-timer h1 {
        font-size: 8rem;
        left: -10%; 
    }
    .start-timer #startGameText {
        font-size: 6rem;
        left: -5%; 
    }
}

/* ---------------------------------------------- Media queries */

/* ------------------------- Large screens (desktop) */

@media (min-width: 1160px) and (min-height: 1015px) {
    .game-hud {
        margin: -2.5vh auto;
        position: fixed;
    }    
}

@media (max-width: 1665px) {
    .game-desk {
        width: 85rem;
        height: 45rem;
        padding: 0;
    }
    #deskCoffee {
        width: 180px;
        height: 180px;
        left: 200px;
    }
    .memory-game-board {
        width: 550px;
        height: 600px;
        margin: 55px 32%;
    }
    .memory-card {
        width: 120px;  
        height: 145px;
        margin: 2.5px; 
    }
}

@media (max-width: 1159px) and (min-width: 1110px) {
    .game-hud {
        margin: -2vh auto;
        position: fixed;
    }
}

/* ------------------------- Laptop and tablet devices */

@media (min-height: 1441px) {
    .game-hud {
        margin: -4vh auto;
    }
}

@media (max-width: 1440px) {
    .game-hud {
        margin: -4vh auto;
        z-index: 50;
    }  
    .game-desk {
        width: 65rem;
        height: 45rem;
        padding: 0;
    }
    #deskCoffee {
        width: 180px;
        height: 180px;
        left: 65px;
        top: 35vh;
    }
    .memory-game-board {
        width: 550px;
        height: 600px;
        margin: 75px 30%;
    }
    .memory-card {
        width: 110px;  
        height: 135px;
        margin: 2.5px; 
    }
}

@media (max-width: 1280px) and (min-height: 600px) and (max-height: 760px) {
    .game-hud {
        margin: -50px auto;
        z-index: 50;
    }
    .time-left {
        color: white;
    }
    .game-desk {
        margin: -20px auto;
    }
    #deskCoffee {
        width: 180px;
        height: 180px;
        left: 65px;
        top: 55vh;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .game-hud {
        margin: 0 auto;
        z-index: 50;
    }
}

@media (max-width: 1015px) {
    .game-container {
        background-color: #0b6736;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
    }
    .time-left {
        color: white;
    }
    .game-desk {
        background-image: none;
    }
    .memory-game-board {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        width: 600px;
        height: 600px;
    }
    .memory-card {
        width: 140px;  
        height: 165px;
        margin: 3px auto; 
    }
    #deskCoffee {
        display: none;
    } 
    .game-hud {
        margin: 0 auto;
    }
}

/* ------------------------- Smaller tablet and mobile devices */

@media (max-height: 599px) and (min-width: 800px) {
    .game-hud {
        margin: -50px auto;
        z-index: 50;
    }
    .time-left {
        color: white;
    }
    .game-container {
        background-color: #0b6736;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
    }
    .game-desk {
        background-image: none;
    }
    .game-desk {
        margin: -20px auto;
    }
    .memory-game-board {
        width: 400px;
        height: 500px;
        margin: 75px 30%;
    }
    .memory-card {
        width: 100px;  
        height: 125px;
        margin: 0 auto; 
    }
}

@media (max-width: 650px) {
    body {
        background-image: none;
        background-color: #0b6736;
    }
    .time-left {
        color: white;
    }
    .memory-game-board {
        width: 450px;
        height: 600px;
        padding: 0;
        margin-top: 0;

    }
    .memory-card {
        width: 100px;  
        height: 125px;
        margin: 2px auto;
    }
}

@media (max-width: 600px) and (min-height: 960px) {
    .memory-game-board {
        margin-top: 10px;
    }
}   

@media (max-width: 550px) {
    .memory-game-board {
        width: 450px;
        height: 600px;
        padding: 0;
        margin-top: 54px;
    }
}

@media (max-width: 445px) and (min-height: 640px) {
    .memory-game-board {
        width: 400px;
        margin-top: 0;
    }
    .game-container {
        height: 84vh;
    }
    .memory-card {
        width: 90px;  
        height: 115px;
        margin: 2px auto;
    }
}

@media (max-width: 385px) and (min-height: 600px) {
    .memory-game-board {
        width: 350px;
        max-height: 500px;
        margin-top: 12px;
    }
    .game-container {
        height: 82vh;
    }
    .memory-card {
        width: 80px;  
        height: 105px;
        margin: 1px auto;
    }
}

@media (max-width: 360px) and (max-height: 599px) {
    .memory-game-board {
        width: 350px;
        max-height: 500px;
        margin-top: 0;
    }
    .game-container {
        height: 98vh;
    }
    .memory-card {
        width: 80px;  
        height: 105px;
        margin: 0 auto;
    }
}

@media (max-width: 350px) {
    .memory-game-board {
        width: 300px;
        max-height: 400px;
    }
    .memory-card {
        width: 65px;  
        height: 85px;
    }
    .time-left {
        font-size: 16px;
    }
}

@media (max-width: 280px) {
    .memory-game-board {
        width: 240px;
        margin-top: 15px;
    }
    .memory-card {
        width: 55px;  
        height: 75px;
    }
    .time-left {
        width: 80%;
        font-size: 14px;
    }
}