/*
** The styling for this game application was based 
upon a video guide from the following source:
"https://www.youtube.com/watch?v=ZniVgo8U7ek"
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #4a4a4a4a;
    font-family: "Source Code Pro", monospace;
    position: relative;
}

/* START GAME COUNTDOWN */

.start-timer h1 {
    display: none;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    margin: auto;
    z-index: 10;
    font-size: 18rem;
    color: white;
    text-shadow: -3px 3px 0 #000,
                    3px 3px 0 #000,
				    3px -3px 0 #000;
}

.start-timer #startGameText {
    display: none;
    font-size: 16rem;
    text-align: center;
    margin: auto;
}

/* START GAME COUNTDOWN */

/* START GAME COUNTDOWN MEDIA QUERIES */

@media (max-width: 521px) {
    .start-timer h1 {
        width: 320px;
        height: 320px;
        top: 25%; left: 0; bottom: 25%; right: 0;
        font-size: 15rem;
    }
    .start-timer #startGameText {
        font-size: 13rem;
    }
}

@media (max-width: 390px) {
    .start-timer h1 {
        font-size: 12rem;
    }
    .start-timer #startGameText {
        font-size: 9.5rem;
        left: 5%; 
    }
}

@media (max-width: 280px) {
    .start-timer h1 {
        font-size: 8rem;
        left: -10%; 
    }
    .start-timer #startGameText {
        font-size: 6rem;
        left: -5%; 
    }
}

/* / START GAME COUNTDOWN MEDIA QUERIES */

/* GAMEBOARD */

.memory-game-board {
    width: 900px;
    height: 600px;
    margin: 180px auto;   /* to center the card deck */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25vh;
    perspective: 1000px;    /* Make the cards 3D for the flip animation effect */
}

/* CARDS */

.memory-card {
    width: 200px;   /* to give the cards a width (ensure they're visible) once the front-face and back-face are stacked */
    height: 225px;  /* to give the cards a height (ensure they're visible) once the front-face and back-face are stacked */
    position: relative;
    margin: 5px auto; 
    /* Initialize 3D effect */
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;     /* stacks the cards on top of eachother */  
    border-radius: 3px;
    border: 2px solid #1a66a5;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* / CARDS */

/* /GAMEBOARD */

/* END GAME MODAL */

.end-game-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #9d9d9dce;
}

.end-game-content {
    width: 600px;
    height: 500px;
    margin: 10% auto;
    border: 2px solid #888;
    background-color: #FFF9F5;
}

.end-game-content hr {
    border: 1px solid #707070;
    transform: translate(0, 8rem);
}

.end-game-content h2 {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: #dbc7b99d;
    padding: 10px;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

.end-game-content button {
    display: block;
    font-family: "Roboto Mono", monospace;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    width: 150px;
    margin: 25px auto;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

/* MODAL GAME LOGO */

.modal-game-logo {
    width: 100%;
    height: 250px;
}

.end-game-content #gameLogo {
    width: 400px;
    height: 400px;
    transform: translate(25%, -40%);
    padding: 0;
    margin: 0;
}

.end-game-content .overlay-text {
    font-family: "Roboto Mono", monospace;
    width: 65%;
    background-color: #dbc7b99d;
    padding: 10px;
    border-radius: 50px;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 800;
    transform: translate(0%, -23rem);
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

/* / MODAL GAME LOGO */

/* / END GAME MODAL */

/* END GAME MODAL MEDIA QUERIES */

@media (max-width: 1170px) {
    .end-game-content {
        margin: 20% auto;
    }
}

@media (max-width: 760px) {
    .end-game-content {
        margin: 30% auto;
    }
}

@media (max-width: 600px) {
    .end-game-content {
        width: 100%;
    }
    .end-game-content #gameLogo {
        width: 300px;
        height: 300px;
        transform: translate(44%, -30%);
    }
    .modal-game-logo {
        height: 200px;
    }
    .end-game-content .overlay-text {
        width: 65%;
        font-size: 22px;
        transform: translate(0%, -15.5rem);
        margin: auto;
    }
}

@media (max-width: 520px) {
    .end-game-content #gameLogo {
        transform: translate(32%, -30%);
    }
    .end-game-content .overlay-text {
        font-size: 18px;
        transform: translate(3.5%, -15.5rem);
    }
}

@media (max-width: 480px) {
    .end-game-content #gameLogo {
        width: 250px;
        height: 250px;
        transform: translate(40%, -20%);
    }
    .end-game-content .overlay-text {
        font-size: 18px;
        transform: translate(-1%, -11.5rem);
    }
}

@media (max-width: 430px) {
    .end-game-content {
        width: 100%;
        height: 62%;
        margin: 50% auto;
    }
    .end-game-content #gameLogo {
        transform: translate(33%, -20%);
    }
    .end-game-content .overlay-text {
        font-size: 18px;
        transform: translate(-1%, -11.5rem);
    }
}

@media (max-width: 395px) {
    .end-game-content {
        height: 50%;
        margin: 50% auto;
    }
    .modal-game-logo {
        display: none;
    }
    .end-game-content hr {
        display: none;
    }
    .end-game-content h2 {
        width: 65%;
        margin: 10% auto 10% auto;
    }
}

@media (max-width: 320px) {
    .end-game-content {
        height: 55%;
    }
}

/* / END GAME MODAL MEDIA QUERIES */