/*
The styling for this game application was based 
upon a video guide from the following source:
"https://www.youtube.com/watch?v=ZniVgo8U7ek"
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-image: url("../img/main/hero-image.gif");
    background-color: #4a4a4a4a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Source Code Pro", monospace;
    position: relative;
}

/* ---------------------------------------------- Start game countdown */

.start-timer h1 {
    display: none;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    margin: auto;
    z-index: 10;
    font-size: 18rem;
    color: white;
    text-shadow: -3px 3px 0 #000,
                    3px 3px 0 #000,
				    3px -3px 0 #000;
}

.start-timer #startGameText {
    display: none;
    font-size: 16rem;
    text-align: center;
    margin: auto;
}
/* ------------------------- Start game countdown media queries */

@media (max-width: 521px) {
    .start-timer h1 {
        width: 320px;
        height: 320px;
        top: 25%; left: 0; bottom: 25%; right: 0;
        font-size: 15rem;
    }
    .start-timer #startGameText {
        font-size: 13rem;
    }
}

@media (max-width: 390px) {
    .start-timer h1 {
        font-size: 12rem;
    }
    .start-timer #startGameText {
        font-size: 9.5rem;
        left: 5%; 
    }
}

@media (max-width: 280px) {
    .start-timer h1 {
        font-size: 8rem;
        left: -10%; 
    }
    .start-timer #startGameText {
        font-size: 6rem;
        left: -5%; 
    }
}

/* ---------------------------------------------- Gameboard */

.memory-game-board {
    width: 900px;
    height: 600px;
    margin: 180px auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25vh;
    perspective: 1000px;    /* Make the cards 3D for the flip animation effect */
}

/* ------------------------- Cards */


.memory-card {
    width: 200px;  
    height: 225px;
    position: relative;
    margin: 5px auto; 
    /* Initialize 3D effect */
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;     /* stacks the cards on top of eachother */  
    border-radius: 3px;
    border: 2px solid #1a66a5;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
}