/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------- Homepage background setup */

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    overflow: hidden;
}

/* ---------------------------------------------- Navbar */

.navbar {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    color: #707070;
}

.navbar img {
    height: 65px;
    width: 65px;
}

/* ---------------------------------------------- Parallax scrolling - page setup */

/*
The following code is based upon this source: 
"https://www.digitalocean.com/community/tutorials/css-pure-css-parallax"
*/

.wrapper {
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    -webkit-perspective: 10px;
            perspective: 10px;
    scroll-behavior: smooth;
}

.section { 
    position: relative;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
}

.section2 {
    position: relative;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-1px) scale(1.5);
            transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    background-attachment: fixed;
    z-index: -1;
}

.static {
    background: white;
}

.hero-image::after {
    background-image: url("../img/main/hero-image.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------------------- Hero image text content */

.game-title {
    position: relative;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000000;
    z-index: 5;
}

.hero-coffee {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
}

#playNowHeroBtn {
    font-size: 22px;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

/* ---------------------------------------------- Jumbotron */

.jumbotron {
    height: inherit;
    position: relative;
    background: none;
}

.jumbotron h2,
.jumbotron h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #707070;
    letter-spacing: 3px;
}

.jumbotron p {
    color: black;
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
}

.jumbotron .my-4 {
    border: 1px solid #707070;
    width: 90%;
    margin: auto;
}

/* ---------------------------------------------- Jumbotron background image */

/* Based upon the following code: "https://coder-coder.com/background-image-opacity/" */

#about .jumbotron:before {
    content: "";
    background-image: url("../img/main/game-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
    margin: auto;
}

/* ---------------------------------------------- Contact form */

label {
    color: black;
}

.confirm-send p {
    font-family: "Roboto Mono", sans-serif;
    padding: 0;
    margin: 0 auto;
}

.btn.btn-confirm-send {
    border-radius: 0%;
    border: none;
    width: 80px;
    padding: 0;
    background-color: #aae0f2;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

/* ---------------------------------------------- Homepage media queries */

@media (min-width: 2025px) {
    .game-title {
        position: relative;
        top: 250px;
        bottom: 0;
        right: 0;
        left: 300px;
        text-align: left;
        font-size: 95px;
        font-weight: 600;
    }
    .hero-coffee {
        position: relative;
        top: -250px;
        bottom: 0;
        right: 0;
        left: 760px;
        height: 800px;
        width: auto;
    }
    #playNowHeroBtn {
        position: relative;
        top: -150px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 28px;
    }
}

@media (min-width: 1351px) and (max-width: 2024px) {
    .game-title {
        position: relative;
        top: 180px;
        bottom: 0;
        right: 0;
        left: 180px;
        text-align: left;
        font-size: 85px;
        font-weight: 600;
    }
    .hero-coffee {
        position: relative;
        top: -250px;
        bottom: 0;
        right: 0;
        left: 600px;
        height: 700px;
        width: auto;
    }
    #playNowHeroBtn {
        position: relative;
        top: -120px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 28px;
    }
}

@media (min-width: 1351px) and (max-height: 762px) {
    .game-title {
        position: relative;
        top: 300px;
        bottom: 0;
        right: 0;
        left: 180px;
        text-align: left;
        font-size: 85px;
        font-weight: 600;
    }
    .hero-coffee {
        position: relative;
        top: -150px;
        bottom: 0;
        right: 0;
        left: 600px;
        height: 700px;
        width: auto;
    }
}

@media (min-width: 992px) and (max-width: 1350px) {
    .game-title {
        position: relative;
        top: 150px;
        bottom: 0;
        right: 0;
        left: 50px;
        text-align: left;
        font-size: 75px;
        font-weight: 600;
        text-shadow: 2px 2px #000000;
    }
    .hero-coffee {
        position: relative;
        top: -150px;
        bottom: 0;
        right: 0;
        left: 425px;
        max-height: 500px;
        max-width: 290px; 
    }
    #playNowHeroBtn {
        position: relative;
        top: -120px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .hero-coffee {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; 
        display: block;
        margin: auto;
        max-height: 500px;
        max-width: 290px; 
    }
}

@media (min-width: 540px) and (max-width: 991px) and (min-height: 720px) {
    .game-title {
        position: relative;
        top: 125px;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media (max-width: 540px) and (min-height: 719px) {
    .game-title {
        position: relative;
        top: 125px;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .hero-coffee {
        position: relative;
        top: -100px;
        bottom: 0;
        right: 0;
        left: 0; 
    }
    #playNowHeroBtn {
        position: relative;
        top: -100px;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media (max-width: 539px) and (max-height: 719px) {
    .game-title {
        position: relative;
        top: 180px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 50px;
    }
    .hero-coffee {
        position: relative;
        top: -50px;
        bottom: 0;
        right: 0;
        left: 0; 
    }
    #playNowHeroBtn {
        position: relative;
        top: -50px;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media (max-width: 375px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar .navbar-brand {
        font-size: 16px;
    }
    .navbar .navbar-brand img {
        width: 45px;
        height: 45px;
    }
    .game-title {
        position: relative;
        top: 125px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 50px;
    }
    .hero-coffee {
        position: relative;
        top: -90px;
        bottom: 0;
        right: 0;
        left: -10px; 
        height: 400px;
        width: auto;
    }
    #playNowHeroBtn {
        position: relative;
        top: -60px;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media (max-width: 320px) {
    .navbar .navbar-brand {
        margin-right: 2px;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    .navbar .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    .navbar .navbar-toggler {
        font-size: 15px;
    }
    .game-title {
        position: relative;
        top: 160px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 45px;
    }
    .hero-coffee {
        position: relative;
        top: -45px;
        bottom: 0;
        right: 0;
        left: -10px; 
        height: 400px;
        width: auto;
    }
    #playNowHeroBtn {
        position: relative;
        top: -25px;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 20px;
    }
}

@media (max-width: 260px) {
    .navbar .navbar-brand span {
        display: none;
    }
}

/* ---------------------------------------------- Start game menu modal */

.custom-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-image: url("../img/main/hero-image.gif");
    background-color: #cccccc;  /* fallback color */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-modal-content {
    width: 100%;
    margin: 25px auto;
    background-color: #1b1b1b4a;
    border-radius: 125px;
}

button,
.btn, 
#startGameBtn {
    font-family: "Roboto Mono", monospace;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.btn:hover {
    background-color: #17a2b8;
    color: white;
}

/* ------------------------- Menu modal content */

.custom-modal-content h2 {
    width: 85%;
    margin: 5px auto;
    text-align: center;
    background-color: white;
    padding: 10px;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

/* ------------------------- Narrative text content */

.narrative {
    position: relative;
    display: block;
    margin: 15px auto;
    width: 75%;
    background-color:#000000a1;
    border-radius: 35px;
    overflow-x: hidden;
}

.narrative p {
    padding: 5px 22px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}

.narrative .first-line {
    margin-top: 35px;
}

.narrative .last-line {
    margin-bottom: 35px;
}

.help {
    position: relative;
    display: block;
    margin: 15px auto;
    width: 75%;
    color: white;
    padding: inherit;
    text-align: center;
    font-size: 14px;
}

.custom-modal-content img {
    height: 450px;
    width: 450px;
    -webkit-transform: translate(5%, 0%);
        -ms-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
    padding: 15px;
}

/* ------------------------- Difficulty options */

.custom-modal-content h3 {
    width: 60%;
    margin: 15px auto;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.difficulty-btn {
    margin: 10px auto;
}

#easyBtn,
#mediumBtn,
#hardBtn {
    background-color: #d0f3ff;
    padding-right: 20px;
    padding-left: 20px;
}

.setting-confirmation p {
    text-align: center;
    font-size: 18px;
    padding: 0;
    color: white;
}

.setting-confirmation span {
    display: none;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 5px;
    color: white;
}

/* ------------------------- Help page */

.narrative .game-objective {
    background-color: #3ecfffde;
}

.narrative .game-controls {
    background-color: #96ca8cd6;
}

.narrative .game-settings {
    background-color: #f5b762e6;
}

.narrative em,
.narrative strong {
    font-weight: 900;
    font-size: 20px;
}

.narrative em {
    text-transform: uppercase;
}

#froggerHelp .game-controls em {
    font-style: normal;
    color: black;
}

#froggerHelp .key-img {
    width: 40px;
    height: 40px;
    padding: 0;
}

#froggerHelp .swipe-img {
    width: 80px;
    height: 80px;
    padding: 0;
}

/* ------------------------- Mobile return to homepage arrow */

.back-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    max-width: 64px;
    max-height: 40px;
}

.fa-level-down-alt {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: white;
    color: black;
}

/* ------------------------- Menu modal media queries */

@media (min-height: 768px) {
    .narrative p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .narrative {
        width: 95%;
    }
    .custom-modal-content h2 {
        font-size: 26px;
    }
}

@media (max-width: 540px) {
    .custom-modal-content {
        margin: 0 auto;
        text-align: center;
    }
    .back-arrow,
    .fa-level-down-alt {
        font-size: 3rem;
    }
}

/* ---------------------------------------------- End Game */

.end-game-gif img {
    width: 450px;
    height: 450px;
}

@media (min-height: 800px) {
    .end-game-gif img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 800px)  {
    .end-game-gif img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 540px) {
    .end-game-gif img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 300px) {
    #endGameModal h2 {
        position: relative;
        top: 20px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .end-game-gif img {
        width: 200px;
        height: 200px;
    }
}