* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}

header .container {
    background-color: #DBC7B9;
}

.navbar {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    color: #707070;
}

.navbar img {
    height: 80px;
    width: 80px;
}

section {
    background-color: #FFF0E5;
}

#gameLogo {
    height: 500px;
    width: 500px;
    z-index: -5;
    text-align: center;
}

.overlay-text {
    width: 60%;
    background-color: #dbc7b99d;
    padding: 10px;
    border-radius: 50px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 20%;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 36px;
    letter-spacing: 4px;
    font-weight: 800;
    text-align: center;
}
