* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url("../img/main/hero-image.gif");
    background-color: #9D9D9D;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* ---------------------------------------------- Game Container */

.container {
    border: 2px solid #010124;
    width: 85vw;
    height: 80vh;
    margin: 5vh auto;
    background-image: url("../img/whack-a-mole/background.png");
    background-color: #9EDEEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.game-hud {
    z-index: 5;
}

.hole {
    position: relative;
    overflow: hidden;
}

.mole {
    background-image: url("../img/whack-a-mole/mole.png");
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.mole.small {
    width: 80%;
    height:80%;
    left: 15px;
    bottom: -128px;
    transform: translate(0%, 15px);
}

.mole.large {
    background-size: 100%;
    transform: translate(0, -15px);
}

.hole.up .mole {
    top: 0%;
}

/* ---------------------------------------------- Gameboard */

.whack-a-mole-board {
    width: 500px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    margin: 12vh auto;
    padding: 15px;
}

/* ---------------------------------------------- User Interface */

.user-interface {
    position: absolute;
    top: -25px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ------------------------- Score Board */

.user-interface .score,
.user-interface .highscore
 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: red;
    text-shadow: -1px 1px 0 white,
                    1px 1px 0 white,
				    1px -1px 0 white;
}

.user-interface .score span,
.user-interface .highscore span {
    font-size: 28px;
    font-weight: 900;
    color: black;
    width: 40px;
    height: 30px;
}

.user-interface .score {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 20px;
    right: 0;
    text-align: left;
}

.user-interface .score span {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 50px;
    right: 0;
    text-align: left;
}

.user-interface .highscore {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 20px;
    text-align: right
}

.user-interface .highscore span {
    position: absolute;
    right: 100px;
}
/* ------------------------- Whack-A-Mole title */

.user-interface .game-title {
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: -2px 2px 0 white,
                    2px 2px 0 white,
				    2px -2px 0 white;
}

/* ------------------------- Countdown Timer */

.user-interface .game-hud {
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
}

.user-interface .time-left {
    position: absolute;
    top: -5px;
    bottom: 68px;
    left: 0;
    right: 0;
}

/* ------------------------- Start Button and Timer */

.user-interface .dynamic-text {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 78vh auto;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
}

.dynamic-text button {
    width: 200px;
    height: 50px;
    background-color: red;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 5px 35px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* ---------------------------------------------- Game Container media queries */


@media (max-height: 1040px) {
    .container {
        width: 95vw;
        height: 95vh;
        margin: 25px auto;
    }
}

@media (max-height: 855px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
} 

/* ---------------------------------------------- Hole and mole sizes media queries */

@media (max-width: 580px) {
    .whack-a-mole-board {
        width: 460px;
        padding-left: 0;
        padding-right: 0;
    }
    .mole {
        width: 140px;
        height: 140px;
        left: 5px;
    }
    .mole.small {
        bottom: -118px;
    }
    
}

@media (max-width: 528px) {
    .whack-a-mole-board {
        width: 400px;
    }
    .mole {
        width: 130px;
        height: 130px;
        left: 5px;
    }
    .mole.small {
        bottom: -105px;
    }
    .whack-a-mole-board img {
        width: 130px;
        height: 130px
    }
}

@media (max-width: 490px) {
    .whack-a-mole-board {
        width: 380px;
    }
    .mole {
        width: 120px;
        height: 120px;
        left: 0px;
    }
    .mole.small {
        bottom: -98px;
    }
    .whack-a-mole-board img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 442px) {
    .whack-a-mole-board {
        width: 340px;
    }
    .whack-a-mole-board img {
        width: 110px;
        height: 110px
    }
    .mole {
        width: 110px;
        height: 110px;
        left: 0px;
    }
    .mole.small {
        bottom: -88px;
        left: 10px;
    }
}

@media (max-width: 390px) {
    .whack-a-mole-board {
        width: 350px;
    }
    .whack-a-mole-board img {
        width: 100px;
        height: 100px
    }
    .mole {
        width: 100px;
        height: 100px;
        left: 0px;
    }
    .mole.small {
        bottom: -78px;
    }
    .whack-a-mole-board img, 
    .mole {
        margin-left: 15px;
    }
}

@media (min-width: 340px) and (max-width: 390px) {
    .mole.small {
        left: 8px;
    }
}

/* ---------------------------------------------- General media queries */

/* ------------------------- Large screens (desktop and laptop) */

@media (min-width: 1280px) and (min-height: 800px) {
    .whack-a-mole-board {
        width: 500px;
        height: 550px;
        margin: 6.5vh auto;
    }
    .user-interface .game-title {
        font-size: 50px;
        top: 5vh;
    }
    .user-interface .game-hud {
        top: 80vh;
    }
    .user-interface .time-left {
        top: -5px;
    }
    .user-interface .dynamic-text {
        margin: 88vh auto;
    }
    .user-interface .score,
    .user-interface .highscore {
        position: absolute;
        top: 35vh;
    }
    .user-interface .score {
        left: 200px;
    }
    .user-interface .highscore {
        right: 160px;
    }
}

@media (min-width: 2060px) {
    .whack-a-mole-board {
        margin: 15vh auto;
    }
    .user-interface .game-title {
        top: 16vh;
    }
    .user-interface .score,
    .user-interface .highscore {
        top: 40vh;
        font-size: 28px;
    }
    .user-interface .score {
        left: 450px;

    }
    .user-interface .highscore {
        right: 500px;
    }
    .user-interface .score span,
    .user-interface .highscore span {
        top: 32px;
        font-size: 35px;
    }
}

/* ------------------------- Laptop and tablet devices */

@media (max-height: 800px) {
    .user-interface .game-hud {
        top: 5vh;
    }
    .whack-a-mole-board {
        margin: 12vh auto;
    }
    .user-interface .game-title {
        top: 10vh;
    }
}

@media (min-height: 1040px) {
    .whack-a-mole-board {
        margin: 8vh auto;
    }
    .user-interface .game-title {
        top: 9vh;
    }
    .user-interface .game-hud {
        top: 72vh;
    }
    .user-interface .dynamic-text {
        margin: 80vh auto;
    }
}

@media (max-width: 1279px) and (min-height: 935px) {
    .whack-a-mole-board {
        margin: 15vh auto;
    }
    .user-interface .game-title {
        font-size: 45px;
        top: 18vh;
    }
    .user-interface .game-hud {
        top: 15vh;
    }
    .user-interface .score,
    .user-interface .highscore {
        top: 10vh;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .user-interface .score {
        left: 235px;
    }
    .user-interface .score span {
        left: 35px;
    }
    .user-interface .highscore {
        right: 200px;
    }
    .user-interface .highscore span {
        right: 80px;
    }
}

@media (max-width: 1065px) and (max-height: 1280px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
    }
    .whack-a-mole-board {
        margin: 20vh auto;
    }
    .user-interface .game-title {
        top: 18.5vh;
    }
    .user-interface .game-hud {
        top: 14vh;
    }
    .user-interface .score {
        top: 5vh;
        left: 135px;
    }
    .user-interface .highscore {
        top: 5vh;
        right: 100px;
    }
}

/* ------------------------- Smaller tablet and mobile devices */

@media (max-width: 614px) {
    .user-interface .game-title {
        font-size: 35px;
        width: 400px;
    }
    .user-interface .time-left {
        top: -46px;
    }
    .user-interface .score,
    .user-interface .highscore {
        font-size: 18px;
        letter-spacing: 2px;
        left: 45px;
        right: 25px;
    }
    .user-interface .score span,
    .user-interface .highscore span {
        font-size: 24px;
        top: 16px;
    }
    .user-interface .score span {
        font-size: 24px;
        left: 35px;
    }
    .user-interface .highscore span {
        font-size: 24px;
        right: 75px;
    }
}

@media (max-width: 576px) {
    .whack-a-mole-board {
        height: 100px;
    }
    .game-hud .time-left {
        font-size: 16px;
        width: 80%;
        height: 40px;
        top: -6.5vh;
    }
    .user-interface .game-title {
        top: 15vh;
    }
    .whack-a-mole-board {
        margin: 15vh auto;
    }
    .user-interface .dynamic-text {
        margin: 88vh auto;
    }
}

@media (max-width: 414px) {
    .user-interface .game-title {
        font-size: 28px;
        width: 300px;
        top: 18.5vh;
    }
    .user-interface .game-hud {
        top: 16vh;
    }
}

@media (max-width: 375px) {
    .whack-a-mole-board {
        width: 350px; 
        height: 200px;
    }
    .user-interface .game-title {
        font-size: 25px;
        width: 260px;
        top: 19vh;
    }
    .user-interface .game-hud {
        top: 14vh;
    }
    .user-interface .score,
    .user-interface .highscore {
        font-size: 14px;
        letter-spacing: 1px;
        left: 10px;
        right: 10px;
        top: 32px;
    }
    .user-interface .score span,
    .user-interface .highscore span {
        font-size: 18px;
        top: 14px;
    }
    .user-interface .score span {
        left:   25px;
    }
    .user-interface .highscore span {
        right: 50px;
    }
}

@media (max-width: 362px) and (max-height: 642px) {
    .whack-a-mole-board {
        width: 350px; 
        height: 200px;
    }
    .user-interface .game-hud {
        top: 11.5vh;
        left: -25px;
    }
    .user-interface .game-title {
        top: 14vh;
    }
}

@media (max-width: 320px) and (max-height: 568px) {
    .whack-a-mole-board {
        width: 320px; 
        height: 200px;
    }
    .whack-a-mole-board img {
        width: 85px;
        height: 85px
    }
    .mole {
        width: 85px;
        height: 85px;
        left: 0px;
    }
    .user-interface .game-hud {
        top: 12.5vh;
        left: -25px;
    }
    .user-interface .game-title {
        top: 19.5vh;
    }
    .user-interface .score span {
        left:   5px;
    }
    .user-interface .highscore span {
        right: 15px;
    }
    .user-interface .dynamic-text {
        margin: 82vh auto;
    }
}

@media (max-width: 340px) {
    .whack-a-mole-board {
        width: 220px; 
        height: 200px;
    }
    .whack-a-mole-board img {
        width: 85px;
        height: 85px
    }
    .mole {
        width: 85px;
        height: 85px;
        left: 0px;
    }
    .mole.small {
        bottom: -65px;
        left: 5px;
    }
    #hole3 .mole.small {
        width: 85px;
        height: 85px;
        left: -1px;
        bottom: -85px;
    }
    .user-interface .game-title {
        font-size: 24px;
        top: 17vh;
    }
    .user-interface .game-hud {
        top: 14.5vh;
    }
    .user-interface .score,
    .user-interface .highscore {
        top: 35px;
    }
    .user-interface .dynamic-text {
        margin: 90vh auto;
    }
    .user-interface .dynamic-text button {
        margin-top: 5px;
    }
}