* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url("../img/main/hero-image.gif");
    background-color: #9D9D9D;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

input:focus {
    outline: none !important;
}

/* ---------------------------------------------- Game Container */

.container {
    border: 2px solid #010124;
    width: 85vw;
    height: 80vh;
    margin: 5vh auto;
    background-image: url("../img/whack-a-mole/background.png");
    background-color: #9EDEEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.game-hud {
    z-index: 5;
}

.whack-a-mole-board {
    width: 500px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    margin: 18vh auto;
    padding: 15px;
}

.hole {
    position: relative;
    overflow: hidden;
}

.mole {
    background-image: url("../img/whack-a-mole/mole.png");
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.mole.small {
    width: 80%;
    height:80%;
    left: 15px;
    bottom: -128px;
    transform: translate(0%, 15px);
}

.mole.large {
    background-size: 100%;
    transform: translate(0, -15px);
}

.hole.up .mole {
    top: 0%;
}

/* ---------------------------------------------- User Interface */

.user-interface {
    position: absolute;
    top: -25px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ------------------------- Score Board */

.user-interface .score,
.user-interface .highscore
 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: red;
    text-shadow: -1px 1px 0 white,
                    1px 1px 0 white,
				    1px -1px 0 white;
}

.user-interface .score span,
.user-interface .highscore span {
    font-size: 28px;
    font-weight: 900;
    color: black;
    width: 40px;
    height: 30px;
}

.user-interface .score {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 20px;
    right: 0;
    text-align: left;
}

.user-interface .score span {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 50px;
    right: 0;
    text-align: left;
}

.user-interface .highscore {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 20px;
    text-align: right
}

.user-interface .highscore span {
    position: absolute;
    right: 100px;
}
/* ------------------------- Whack-A-Mole title */

.user-interface .game-title {
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: -2px 2px 0 white,
                    2px 2px 0 white,
				    2px -2px 0 white;
}

/* ------------------------- Countdown Timer */

.user-interface .game-hud {
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
}

.user-interface .time-left {
    position: absolute;
    top: -5px;
    bottom: 68px;
    left: 0;
    right: 0;
}

/* ------------------------- Start Button and Timer */

.user-interface .dynamic-text {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 78vh auto;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
}

.dynamic-text button {
    width: 200px;
    height: 50px;
    background-color: red;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 5px 35px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* ---------------------------------------------- Media queries */

@media (max-height: 1040px) {
    .container {
        width: 95vw;
        height: 95vh;
        margin: 25px auto;
    }
}

@media (max-width: 770px) {
    .container {
        display: block;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
    }
    .whack-a-mole-board {
        margin: 20vh auto;
    }
    .user-interface {
        display: block;
        overflow: hidden;
    }
    .user-interface .game-title {
        position: relative;
        margin: auto;
        font-size: 50px;
        top: 15vh;
    }
}

@media (max-width: 575px) {
    .whack-a-mole-board {
        width: 460px;
        padding-left: 0;
        padding-right: 0;
        margin: 20vh auto;
    }
    .user-interface .game-title {
        width: 350px;
        font-size: 35px;
        top: 16.5vh;
    }
}

@media (max-width: 450px) {
    .whack-a-mole-board {
        width: 360px;
    }
    .user-interface .game-title {
        width: 350px;
        font-size: 35px;
        top: 20.5vh;
    }
    .user-interface .score,
    .user-interface .highscore {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .user-interface .score span,
    .user-interface .highscore span {
        font-size: 22px;
    }
    .user-interface .score span {
        left: 40px;
    }
    .user-interface .highscore span {
        right: 80px;
    }
    .whack-a-mole-board img {
        position: relative;
        width: 120px;
        height: 120px;
    }
    .mole {
        width: 120px;
        height: 120px;
    }
    .mole.large {
        transform: translate(0, 5px);
    }
    .mole.small {
        transform: translate(0, -15px);
    }
}

@media (max-width: 360px) {
    .whack-a-mole-board {
        width: 300px;
        margin: 20vh auto;
    }
    .user-interface .game-title {
        width: 250px;
        font-size: 24px;
        top: 22vh;
    }
    .user-interface .score,
    .user-interface .highscore {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .user-interface .score span,
    .user-interface .highscore span {
        font-size: 18px;
    }
    .user-interface .score span {
        left: 30px;
    }
    .user-interface .highscore span {
        right: 60px;
    }
    .whack-a-mole-board img {
        position: relative;
        width: 100px;
        height: 100px;
    }
    .mole {
        width: 100px;
        height: 100px;
    }
    .mole.small {
        left: 10px;
        transform: translate(0, -35px);
    }
}

/* For the Surface Duo */
@media (max-width: 540px) and (min-height: 720px) {
    .user-interface .game-title {
        width: 250px;
        font-size: 24px;
        top: 22vh;
    }
}

/* For the iPhone 5/SE */
@media (max-width: 320px) and (min-height: 568px) {
    .user-interface .game-title {
        width: 250px;
        font-size: 24px;
        top: 15vh;
    }
}

@media (max-width: 305px) {
    .whack-a-mole-board {
        width: 200px;
        margin: 20vh auto;
    }
    .mole.small {
        left: 10px;
        transform: translate(0, 18px);
    }
    .user-interface .score,
    .user-interface .highscore {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .user-interface .score span,
    .user-interface .highscore span {
        font-size: 16px;
    }
    .user-interface .score {
        text-align: left;
        left: 5px;
    }
    .user-interface .highscore {
        text-align: right;
        right: 5px;
    }
    .user-interface .score span {
        left: 28px;
    }
    .user-interface .highscore span {
        right: 60px;
    }
}

@media (max-width: 260px) {
    .whack-a-mole-board {
        margin: 20vh auto;
    }
    .user-interface .game-title {
        width: 200px;
        font-size: 18px;
        top: 16.5vh;
    }
}