* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #9D9D9D;
}

/* GAME CONTAINER */

.container {
    border: 2px solid #010124;
    width: 85vw;
    height: 80vh;
    margin: 5vh auto;
    background-color: #9EDEEF;
    overflow: hidden;
}

.game-hud {
    z-index: 5;
}

@media (max-width: 800px) {
    .container {
        width: 95vw;
        height: 65vh;
        margin: 35px auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
}

/* / GAME CONTAINER */

/* GAMEBOARD */

.whack-a-mole-board {
    width: 500px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
    padding: 15px;
    border: 2px solid black;
}

/* GAMEBOARD MEDIA QUERIES */

@media (max-width: 468px) {
    .whack-a-mole-board img {
        width: 140px;
        height: 140px
    }
}

@media (max-width: 434px) {
    .whack-a-mole-board img {
        width: 130px;
        height: 130px
    }
    .whack-a-mole-board {
        padding: 0;
    }
}

@media (max-width: 385px) {
    .whack-a-mole-board img {
        width: 120px;
        height: 120px
    }
    .whack-a-mole-board {
        width: 380px;
        height: 380px;
    }
}

@media (max-width: 360px) {
    .whack-a-mole-board img {
        width: 110px;
        height: 110px
    }
}

@media (max-width: 328px) {
    .whack-a-mole-board img {
        width: 100px;
        height: 100px
    }
}

@media (max-width: 302px) {
    .whack-a-mole-board {
        width: 210px;
        height: 210px;
        margin: 5vh auto;
    }
}

/* / GAMEBOARD MEDIA QUERIES */

/* / GAMEBOARD */

/* GAME HUD */



/* GAME HUD */